//- views/tareas/editar.pug

extends ../index

block content
    h2 Editar Tarea
    if error
        p.error= error
    form(action=`/tareas/editar/${tarea.id}`, method='POST')
        div
            label(for='area') Área:
            select(name='area', id='area', required=true)
                option(value='') Seleccione un área
                option(value='compras', selected=tarea.area.toLowerCase() === 'compras') Compras
                option(value='ventas', selected=tarea.area.toLowerCase() === 'ventas') Ventas
                option(value='producción', selected=tarea.area.toLowerCase() === 'producción') Producción
                option(value='inventario', selected=tarea.area.toLowerCase() === 'inventario') Inventario
        div
        div
            label(for='titulo') Título:
            input(type='text', name='titulo', id='titulo', value=tarea.titulo, required=true, placeholder='Ingrese el título de la tarea')
        div
            label(for='descripcion') Descripción:
            textarea(name='descripcion', id='descripcion', required=true, placeholder='Ingrese la descripción de la tarea')= tarea.descripcion
        div
            label(for='estado') Estado:
            select(name='estado', id='estado', required=true)
                option(value='') Seleccione un estado
                each estado in estados
                    if estado.id === tarea.estado
                        option(value=estado.id, selected=true)= estado.nombre
                    else
                        option(value=estado.id)= estado.nombre
        div
            label(for='prioridad') Prioridad:
            select(name='prioridad', id='prioridad', required=true)
                option(value='') Seleccione una prioridad
                each prioridad in prioridades
                    if prioridad.id === tarea.prioridad
                        option(value=prioridad.id, selected=true)= prioridad.nombre
                    else
                        option(value=prioridad.id)= prioridad.nombre
        div
            label(for='usuarioAsignado') Usuario Asignado:
            select(name='usuarioAsignado', id='usuarioAsignado', required=true)
                option(value='') Seleccione un usuario
                each usuario in usuarios
                    if usuario.id === tarea.usuarioAsignado
                        option(value=usuario.id, selected=true)= usuario.nombre
                    else
                        option(value=usuario.id)= usuario.nombre
        div
            label(for='fechaVencimiento') Fecha de Vencimiento:
            input(type='date', name='fechaVencimiento', id='fechaVencimiento', value=new Date(tarea.fechaVencimiento).toISOString().split('T')[0], required=true)
            button(type='submit') Actualizar Tarea
